<nb-card>
    <nb-card-header>
        <h3>Consultar Desempeño</h3>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Consultor" tabIcon="person-outline">
                <br>
                <div class="period">
                    <span><strong>Periodo: </strong></span>
                    <input nbInput placeholder="Pick Date" [nbDatepicker]="from" [formControl]="formControl">
                    <nb-datepicker #from></nb-datepicker>
                    <span>  a  </span>
                    <input nbInput placeholder="Form Picker" [nbDatepicker]="to" [(ngModel)]="ngModelDate">
                    <nb-datepicker #to></nb-datepicker>
                </div>
                <br>
                <div class="consult">
                    <label for="consultores"><strong>Consultores:</strong></label>
                    <nb-select multiple placeholder="Multiple Select">
                        <nb-option value="1">Aline Chastel Lima</nb-option>
                        <nb-option value="2">Aline Chastel Lima</nb-option>
                        <nb-option value="3">Aline Chastel Lima</nb-option>
                        <nb-option value="4">Aline Chastel Lima</nb-option>
                        
                    </nb-select>
                </div>

                <div class="butons">
                    <button nbButton outline status="primary" size="large"><nb-icon icon="file-text-outline"></nb-icon>Informe</button>
                    <button nbButton outline status="warning" size="large"><nb-icon icon="bar-chart-outline"></nb-icon>Gráfico</button>
                    <button nbButton outline status="warning" size="large"><nb-icon icon="pie-chart-outline"></nb-icon>Gráfico Pizza</button>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Cliente" tabIcon="person-outline">
                <br>
                <div class="period">
                    <span><strong>Periodo: </strong></span>
                    <input nbInput placeholder="Pick Date" [nbDatepicker]="from" [formControl]="formControl">
                    <nb-datepicker #from></nb-datepicker>
                    <span>  a  </span>
                    <input nbInput placeholder="Form Picker" [nbDatepicker]="to" [(ngModel)]="ngModelDate">
                    <nb-datepicker #to></nb-datepicker>
                </div>
                <br>
                <div class="consult">
                    <label for="consultores"><strong>Clientes:</strong></label>
                    <nb-select multiple placeholder="Multiple Select">
                        <nb-option value="1">Aline Chastel Lima</nb-option>
                        <nb-option value="2">Aline Chastel Lima</nb-option>
                        <nb-option value="3">Aline Chastel Lima</nb-option>
                        <nb-option value="4">Aline Chastel Lima</nb-option>
                        
                    </nb-select>
                </div>

                <div class="butons">
                    <button nbButton outline status="primary" size="large"><nb-icon icon="file-text-outline"></nb-icon>Informe</button>
                    <button nbButton outline status="warning" size="large"><nb-icon icon="bar-chart-outline"></nb-icon>Gráfico</button>
                    <button nbButton outline status="warning" size="large"><nb-icon icon="pie-chart-outline"></nb-icon>Gráfico Pizza</button>
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>

<!-- TABLE FOR CONSULTORES -->
<nb-card *ngFor="let row of data">
    <app-table></app-table>
</nb-card>

<!-- TABLE FOR CLIENTS -->
<!-- <nb-card>
    <app-table></app-table>
</nb-card> -->