<span><strong>NOMBRE</strong></span>
<table>
    <tr>
        <th>Periodo</th>
        <th>Ganancia Neta</th>
        <th>Costo Fijo</th>
        <th>Comisión</th>
        <th>Beneficio</th>
    </tr>
    <tr>
        <td>janerio de 2007</td>
        <td>R$ 1.500,00</td>
        <td>R$ 1.500,00</td>
        <td>R$ 1.500,00</td>
        <td>R$ 1.500,00</td>
    </tr>
    <tr>
        <td>janerio de 2007</td>
        <td>R$ 1.500,00</td>
        <td>R$ 1.500,00</td>
        <td>R$ 1.500,00</td>
        <td>R$ 1.500,00</td>
    </tr>
    <tr>
        <td>SALDO</td>
        <td>R$ 3.000,00</td>
        <td>R$ 3.000,00</td>
        <td>R$ 3.000,00</td>
        <td>R$ 3.000,00</td>
    </tr>
</table>
